VITE_SUPABASE_URL=https://mgondbtbvpibiuzgfuch.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1nb25kYnRidnBpYml1emdmdWNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzMzk0MDAsImV4cCI6MjA3MTkxNTQwMH0.Pen6nddbW0hnqkEpdS7JGWDOIqwn4dD_1VGqoOmDUSs